#vertical-tab-pane {
  display: block;
}

#vertical-tab-pane .arco-tabs-header-nav-capsule .arco-tabs-header-title {
  padding: 12px 2px;
}

#vertical-tab-pane .arco-tabs-header-nav-vertical .arco-tabs-header-title {
  margin-top: 2px;
}

.ant-pro-card-body::-webkit-scrollbar {
  width: 4px;
}
.ant-pro-card-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}
.ant-pro-card-body::-webkit-scrollbar-track {
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}


